@import url("https://fonts.googleapis.com/css2?family=Kosugi&family=Noto+Sans+JP&display=swap");
@font-face {
  font-family: "KosugiMaru";
  src: url("/thechat/static/fonts/KosugiMaru-Regular.ttf");
}

@font-face {
  font-family: "Jomhuria";
  src: url("/thechat/static/fonts/Jomhuria-Regular.ttf");
}

* {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.left-col {
  border-right: solid 1px #ccc;
  background-color: #e5ebf0;
  height: calc(100vh - 56px);
  width: 250px;
}

.message-col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: calc(100vh - 56px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.right-col {
  border-left: solid 1px #ccc;
  background-color: #f2f2f2;
  height: calc(100vh - 56px);
  width: 300px;
  overflow: hidden auto;
}

.btn-991 {
  display: none;
}

.close-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 1031;
}

@media all and (min-width: 769px) and (max-width: 1089px) {
  .btn-991 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .left-btn {
    display: none;
  }
  .right-btn {
    border-radius: 0.3rem !important;
  }
  button[data-btn="rightbtn"] {
    display: block !important;
  }
  .right-col {
    position: fixed;
    top: 0;
    right: -300px;
    height: calc(100vh);
    z-index: 1032;
  }
  button[data-btn="leftbtn"] {
    display: none;
  }
}

@media all and (max-width: 768px) {
  .btn-991 {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
  .left-btn {
    display: inline-block;
  }
  .left-col {
    position: fixed;
    top: 0;
    height: calc(100vh);
    left: -300px;
    z-index: 1032;
  }
  .right-col {
    position: fixed;
    top: 0;
    right: -300px;
    height: calc(100vh);
    z-index: 1032;
  }
}

/*************************
*  LeftColmuns
*************************/
.chat-list-ttl {
  padding: 0 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 48px;
  background-color: rgba(68, 68, 68, 0.2);
}

.chat-list-items {
  padding: 0 8px;
  font-size: 1.2rem;
  line-height: 48px;
}

.chat-list-items a {
  text-decoration: none;
  color: #444;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0px;
  border: solid 1px #aaf;
  background-color: #24F;
  color: #FFF;
  border-radius: 4px;
  padding: 0px 8px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-active a {
  background-color: #fee;
  border-color: #faa;
}

.chat-ttl {
  width: 100%;
  padding: 0 8px;
  height: 48px;
  line-height: 48px;
  border-bottom: solid 1px #ccc;
  background-color: #f2f3ef;
  font-weight: bold;
}

.chat-body {
  overflow: auto;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding-bottom: 30vh;
}

@media all and (max-width: 375px) {
  .chat-body {
    padding-bottom: 300px;
  }
}

.post-form {
  padding: 8px;
  width: 100%;
  border-top: solid 1px #ccc;
  background-color: #fff;
}

@media all and (max-width: 375px) {
  .post-form {
    display: none;
    position: fixed;
    height: 290px;
    bottom: -290px;
    padding: 0;
  }
}

.post-form-bar {
  border: solid 2px #ccc;
  margin: 8px 8px -10px 8px;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media all and (max-width: 414px) {
  .post-form-bar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .post-form-bar .post-form-bar-items {
    margin: 8px;
  }
  .post-form-bar .post-form-bar-items input[type="file"] {
    width: 100%;
  }
  .post-form-bar .post-form-bar-items .send-button {
    width: 100%;
  }
}

.mobile-call-form {
  display: none;
}

@media all and (max-width: 375px) {
  .mobile-call-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #91B493;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 99;
  }
}

.mobile-call-form img {
  height: 30px;
  width: 30px;
}

.bottom-up {
  display: block;
  -webkit-animation: bottomup 1s;
          animation: bottomup 1s;
  bottom: 0;
}

@-webkit-keyframes bottomup {
  0% {
    -webkit-transform: translateY(290px);
            transform: translateY(290px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bottomup {
  0% {
    -webkit-transform: translateY(290px);
            transform: translateY(290px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@media all and (max-width: 375px) {
  .bottom-down {
    display: block;
    -webkit-animation: bottomdown 1s;
            animation: bottomdown 1s;
    bottom: -290px;
  }
}

@-webkit-keyframes bottomdown {
  0% {
    -webkit-transform: translateY(-290px);
            transform: translateY(-290px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bottomdown {
  0% {
    -webkit-transform: translateY(-290px);
            transform: translateY(-290px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.post-form-bar .send-button {
  width: 150px;
  line-height: 32px;
  border-radius: none;
  outline: none;
  background-color: #33A6B8;
  border: solid 1px #33A6B8;
  color: #fff;
}

.post-form-body {
  padding: 8px;
}

.post-form-body textarea {
  height: 150px;
  width: 100%;
  border: solid 2px #ccc;
  resize: none;
  padding: 16px;
}

.post-form-body textarea:focus-visible {
  border-radius: 0;
  border: solid 3px #F9BF45;
  outline: none;
}

.chat-items {
  border-bottom: solid 1px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat-items-thumb {
  padding: 8px;
}

.chat-items-right {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin: 8px 16px 8px 0;
  border-radius: 0px 12px 12px 12px;
  border: solid 1px #ddd;
  -webkit-box-shadow: 2px 2px 4px -2px gray;
          box-shadow: 2px 2px 4px -2px gray;
  position: relative;
  display: inline-block;
}

.chat-items-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 8px 4px 8px;
}

.chat-send-name {
  font-weight: bold;
  font-size: .8rem;
  color: #007acc;
}

.chat-send-time {
  font-size: .7rem;
  font-weight: bold;
  color: #777;
}

.chat-items-body {
  padding: 4px 8px 8px 8px;
}

.chat-items-thumb img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
  border: solid 1px #ccc;
}

.send-message {
  background-color: #D4F0FF;
  border-radius: 12px 0px 12px 12px !important;
  border: solid 1px #a1deff;
  margin: 8px 0px 8px 16px !important;
}

.send-files {
  line-height: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.unread-mail {
  background-color: #E16B8C;
}

.unread-mail .chat-send-name,
.unread-mail .chat-send-time {
  color: #FFF;
}

.unread-mail .chat-items-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.unread-mail .unread-alert {
  display: table-cell;
  border: solid 2px #FFF;
  border-radius: 8px;
  padding: 4px 32px;
  cursor: pointer;
  -webkit-animation: unreadFlash 2s linear infinite;
          animation: unreadFlash 2s linear infinite;
}

@-webkit-keyframes unreadFlash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

@keyframes unreadFlash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}

.message-file a {
  display: block;
}

.message-file a img {
  width: 100px;
}

.unread-point {
  display: block;
  background: #FF0000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  color: #FFF;
  font-size: .7rem;
  font-weight: bold;
}

/*************************
*  RightColmuns
*************************/
.side-menu-ttl {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  padding: 8px;
  margin: 0;
  margin-bottom: 8px;
  -webkit-box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.right-info {
  color: #888;
  margin: 8px;
  background-color: #fff;
  max-height: 250px;
  overflow: hidden auto;
}

.right-info dl {
  padding: 8px;
}

.right-info dl dt {
  font-weight: bold;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-bottom: 4px;
}

.right-info dl dd {
  border-bottom: solid 1px #ccc;
  padding-bottom: 0.5rem;
}

.right-info dl dd .right-info-date,
.right-info dl dd .right-info-user {
  font-size: 0.9rem;
}

.right-info dl dd .right-info-body {
  color: #444;
}

.right-info dl dd .right-info-user {
  text-align: right;
}

.right-menu {
  padding: 0;
}

.right-menu li {
  margin: 4px;
  list-style: none;
}

.right-menu li a {
  padding: 8px;
  display: block;
  text-decoration: none;
  border-radius: 8px;
}

.right-menu li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.right-menu-panel {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.right-menu-panel li {
  margin: 0;
  list-style: none;
  width: calc(100% / 3);
}

.right-menu-panel li a {
  display: block;
}

.right-menu-panel li a img {
  width: 100%;
}

/*************************
*  JobSter
*************************/
.jobster-wrap {
  background-image: url("/thechat/static/images/login/background.png");
  padding-bottom: 50vh;
}

.jobster-main-items {
  margin: 8px;
  margin-bottom: 32px;
  overflow: auto;
}

.jobster-main-items h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.jobster-main-table-wrap {
  width: 100%;
  overflow: auto;
}

.jobster-main-table {
  min-width: 635px;
  width: 100%;
  max-width: 635px;
  font-size: .8rem;
  border-collapse: collapse;
}

.jobster-main-table th, .jobster-main-table td {
  border: solid 1px #444;
  padding: 4px;
  background-color: #FFF;
}

.jobster-main-table td a {
  text-decoration: none;
}

.jobster-col-times {
  text-align: center;
  width: 32px;
}

.jobster-col-working {
  background-color: #E16B8C !important;
}

.jobster-col-work-time {
  text-align: center;
  width: 60px;
}

.jobster-left-menu {
  list-style: none;
  padding: 0;
}

.jobster-left-menu li {
  padding: 8px;
  border-bottom: solid 1px #ccc;
  background-color: #333;
}

.jobster-left-menu li:hover {
  background-color: #595959;
}

.jobster-left-menu li a {
  display: block;
  color: #FFF;
  text-decoration: none;
  padding: 4px;
  position: relative;
}

.jobster-left-menu li a img {
  margin-right: 4px;
  vertical-align: bottom;
}

.jobster-left-menu-ttl {
  color: #FFF;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
  font-family: cursive;
}

.jobster-left-menu-ttl:hover {
  background-color: #333 !important;
}

.menu-check-batch::after {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C73E3A;
  width: 24px;
  height: 24px;
  content: '!';
  position: absolute;
  top: calc(50% - 12px);
  right: 0px;
  border-radius: 50%;
}

.monthy-table {
  min-width: 700px;
  max-width: 700px;
}

.monthy-table-cell-name {
  width: 100px;
  text-align: center;
  font-size: .7rem;
}

/*************************
*  BootstrapSettings
*************************/
.row > * {
  padding: 0;
}

/*************************
*  PartsSettings
*************************/
.text-center {
  text-align: center;
}

.bg-tamago {
  background-color: #F9BF45 !important;
}

.bg-wasurenagusa {
  background-color: #7DB9DE !important;
}

.no-certification {
  font-style: italic;
  background-color: #badaed;
  padding: 0px 8px;
}
