@font-face {
  font-family: "KosugiMaru";
  src: url("static/fonts/KosugiMaru-Regular.ttf");
}

* {
  font-family: KosugiMaru;
  box-sizing: border-box;
}
.left-col {
  border-right: solid 1px #ccc;
  background-color: #e5ebf0;
  height: calc(100vh - 56px);
  width: 250px;
}
.message-col {
  flex-grow: 1;
  height: calc(100vh - 56px);
  display: flex;
  flex-direction: column;
  position: relative;
}
.right-col {
  border-left: solid 1px #ccc;
  background-color: #f2f2f2;
  height: calc(100vh - 56px);
  width: 300px;
  overflow: hidden auto;
}
.btn-991 {
  display: none;
}
.close-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vh;
  z-index: 1031;
}

@media all and (min-width: 769px) and (max-width: 1089px) {
  .btn-991 {
    display: inline-flex;
  }
  .left-btn {
    display: none;
  }
  .right-btn {
    border-radius: 0.3rem !important;
  }
  button[data-btn="rightbtn"] {
    display: block!important;
  }
  .right-col {
    position: fixed;
    top: 0;
    right: -300px;
    height: calc(100vh);
    z-index: 1032;
  }
  button[data-btn="leftbtn"] {
    display: none;
  }
}
@media all and (max-width: 768px) {
  .btn-991 {
    display: inline-flex;
  }
  .left-btn {
    display: inline-block;
  }
  .left-col {
    position: fixed;
    top: 0;
    height: calc(100vh);
    left: -300px;
    z-index: 1032;
  }
  .right-col {
    position: fixed;
    top: 0;
    right: -300px;
    height: calc(100vh);
    z-index: 1032;
  }
}

/*************************
*  LeftColmuns
*************************/
.chat-list-ttl {
  padding: 0 8px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 48px;
  background-color: rgba(68, 68, 68, 0.2);
}
.chat-list-items {
  padding: 0 8px;
  font-size: 1.2rem;
  line-height: 48px;
}
.chat-list-items a {
  text-decoration: none;
  color: #444;
  display: flex;
  margin: 8px 0px;
  border: solid 1px #aaf;
  background-color: #24F;
  color: #FFF;
  border-radius: 4px;
  padding: 0px 8px;
  justify-content: space-between;
  align-items: center;
}
.chat-active a {
  background-color: #fee;
  border-color: #faa;
}
.chat-ttl {
  width: 100%;
  padding: 0 8px;
  height: 48px;
  line-height: 48px;
  border-bottom: solid 1px #ccc;
  background-color: #f2f3ef;
  font-weight: bold;
}
.chat-body {
  overflow: auto;
  flex-grow: 2;
  padding-bottom: 30vh;
  @media all and (max-width: 375px) {
    padding-bottom: 300px;
  }
}
.post-form {
  padding: 8px;
  width: 100%;
  border-top: solid 1px #ccc;
  background-color: #fff;
  @media all and (max-width: 375px) {
    display: none;
    position: fixed;
    height: 290px;
    bottom: -290px;
    padding: 0;
  }
}
.post-form-bar {
  border: solid 2px #ccc;
  margin: 8px 8px -10px 8px;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
  @media all and (max-width: 414px) {
    flex-direction: column;
    .post-form-bar-items{
      margin: 8px;
      input[type="file"]{
        width: 100%;
      }
      .send-button{
        width: 100%;
      }
    }
  }
}
.mobile-call-form{
  display: none;
  @media all and (max-width: 375px) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 50px;
    height: 50px;
    background-color: #91B493;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    z-index: 99;
  }
  img{
    height: 30px;
    width: 30px;
  }
}

.bottom-up{
  display: block;
  animation: bottomup 1s;
  bottom: 0;
}
@keyframes bottomup {
  0% {
  transform: translateY(290px);
  }

  100% {
  transform: translateY(0px);
  }
}
.bottom-down{
  @media all and (max-width: 375px) {
    display: block;
    animation: bottomdown 1s;
    bottom: -290px;
  }
}
@keyframes bottomdown {
  0% {
  transform: translateY(-290px);
  }

  100% {
  transform: translateY(0px);
  }
}

.post-form-bar .send-button {
  width: 150px;
  line-height: 32px;
  border-radius: none;
  outline: none;
  background-color: #33A6B8;
  border: solid 1px #33A6B8;
  color: #fff;
}
.post-form-body {
  padding: 8px;
}
.post-form-body textarea {
  height: 150px;
  width: 100%;
  border: solid 2px #ccc;
  resize: none;
  padding: 16px;
}
.post-form-body textarea:focus-visible{
  border-radius: 0;
  border: solid 3px #F9BF45;
  outline: none;
}
.chat-items {
  border-bottom: solid 1px #ccc;
  display: flex;
}
.chat-items-thumb {
  padding: 8px;
}
.chat-items-right {
  flex-grow: 2;
  margin: 8px 16px 8px 0;
  border-radius: 0px 12px 12px 12px;
  border: solid 1px #ddd;
  box-shadow: 2px 2px 4px -2px gray;
  position: relative;
  display: inline-block;
}
.chat-items-top {
  display: flex;
  justify-content: space-between;
  padding: 8px 8px 4px 8px;
}
.chat-send-name {
  font-weight: bold;
  font-size: .8rem;
  color: #007acc;
}
.chat-send-time {
  font-size: .7rem;
  font-weight: bold;
  color: #777;
}
.chat-items-body {
  padding: 4px 8px 8px 8px;
}
.chat-items-thumb img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 100%;
  border: solid 1px #ccc;
}

$send-message-color: #D4F0FF;
.send-message{
  background-color: $send-message-color;
  border-radius: 12px 0px 12px 12px!important;
  border: solid 1px darken($send-message-color, 10%);
  margin: 8px 0px 8px 16px!important;
}
.send-files{
  line-height: 30px;
  box-sizing: border-box;
}

.unread-mail{
  background-color: #E16B8C;
  .chat-send-name,
  .chat-send-time{
    color: #FFF;
  }
  .chat-items-body{
    display: flex;
    justify-content: center;
  }
  .unread-alert{
    display: table-cell;
    border: solid 2px #FFF;
    border-radius: 8px;
    padding: 4px 32px;
    cursor: pointer;
    animation: unreadFlash 2s linear infinite;
  }
}

@keyframes unreadFlash {
  0%,100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.message-file{
  a{
    display: block;
    img{
      width: 100px;
    }
  }
}


.unread-point{
  display: block;
  background: #FF0000;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  line-height: 25px;
  text-align: center;
  color: #FFF;
  font-size: .7rem;
  font-weight: bold;
}

/*************************
*  RightColmuns
*************************/
.side-menu-ttl{
  position: sticky;
  top: 0;
  background-color: #f2f2f2;
  padding: 8px;
  margin: 0;
  margin-bottom: 8px;
  box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.right-info {
  color: #888;
  margin: 8px;
  background-color: #fff;
  max-height: 250px;
  overflow: hidden auto;
}
.right-info dl {
  padding: 8px;
}
.right-info dl dt {
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: #fff;
  padding-bottom: 4px;
}
.right-info dl dd {
  border-bottom: solid 1px #ccc;
  padding-bottom: 0.5rem;
}
.right-info dl dd .right-info-date,
.right-info dl dd .right-info-user {
  font-size: 0.9rem;
}
.right-info dl dd .right-info-body {
  color: #444;
}
.right-info dl dd .right-info-user {
  text-align: right;
}
.right-menu {
  padding: 0;
  li {
    margin: 4px;
    list-style: none;
    a {
      padding: 8px;
      display: block;
      text-decoration: none;
      border-radius: 8px;
      &:hover {
        background-color: rgba($color: #000000, $alpha: 0.1);
      }
    }
  }
}
.right-menu-panel{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  li{
    margin: 0;
    list-style: none;
    width: calc(100% / 3);
    a{
      display: block;
      img{
        width: 100%;
      }
    }
  }
}






/*************************
*  JobSter
*************************/

.jobster-main-items{
  margin: 8px;
  margin-bottom: 32px;
  overflow: auto;
  h2{
    font-size: 1.2rem;
    font-weight: bold;
  }
}
.jobster-main-table-wrap{
  width: 100%;
  overflow: auto;
}
.jobster-main-table{
  min-width: 635px;
  width: 100%;
  max-width: 635px;
  font-size: .8rem;
}
.jobster-main-table th, .jobster-main-table td{
  border: solid 1px #444;
  padding: 4px;
  background-color: #FFF;
}
.jobster-col-times{
  text-align: center;
  width: 32px;
}
.jobster-col-working{
  background-color: #E16B8C!important;
}
.jobster-col-work-time{
  text-align: center;
  width: 60px;
}

/*************************
*  BootstrapSettings
*************************/
.row > * {
  padding: 0;
}
